.projects {
  margin: 0 auto;
}

.projects__container {
  overflow: hidden;
}

.projects__title {
  margin-bottom: 30px;
}

.projects__div {
  width: 1150px;
  height: 2122px;
}

.project__img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 14px;
}

.projects-list {
  position: relative;
  overflow: hidden;
  margin-bottom: 92px;
  width: 1150px;
}


.projects-list__title {
  margin-bottom: 14px;
  font-size: 30px;
  line-height: 40.98px;
}

.project-list__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 27.32px;
  text-decoration: none;
  color: #AD1818;
  transition: all 0.3s ease;
}

.project-list__link:hover {
  color: #8B1414;
}

@media (max-width: 1199px) {
  .projects-list {
    width: 100%;
    height: auto;
    margin-bottom: 81px;
  }

  .projects-list:nth-child(3) {
    margin-bottom: 99px;
  }

  .projects-list__title {
    font-size: 25px;
    margin-bottom: 4px;
  }
}

@media (max-width: 767px) {
  .projects__title {
    font-size: 14px;
    margin-bottom: 19px;
  }

  .projects-list {
    width: 100%;
    height: auto;
  }

  .project__img {
    margin-bottom: 2px;
  }

  .projects-list__title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .project-list__link {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .projects-list__title {
    margin-bottom: 0px;
  }

  .project__img {
    margin-bottom: 13px;
  }

  .projects-list {
    margin-bottom: 43px;
  }

  .projects-list:nth-child(3) {
    margin-bottom: 60px;
  }


}