.services {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: #121212;
}

.services__title {
    padding-top: 150px;
    padding-bottom: 29px;
    color: #FFFFFF;
}

.services__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 43px;
}

.services-list {
    width: calc(50% - 4px);
    position: relative;
}

.services-list:nth-last-child(1) {
    margin-bottom: 0;
}

.services-list__label {
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 22px;
    padding: 9px 21px;
    top: 31px;
    left: 30px;
    background-color: #AD1818;
    color: #fff;
    border-radius: 5px;
    white-space: nowrap;
}

.services__img {
    padding-left: 1px;
    margin-bottom: 25px;
}

.services-list:nth-of-type(3) .services__img,
.services-list:nth-of-type(4) .services__img {
    margin-bottom: 16px;
}

.services-list__title {
    width: 251px;
    padding-left: 5px;
    font-size: 30px;
    line-height: 40.98px;
    color: #FFFFFF;
}

.order-service__btn {
    margin-top: 60px;
    margin-bottom: 150px;
    display: inline-block;
    width: 1150px;
    height: 153px;
    padding-top: 62px;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #AD1818;
    transition: all 0.5s ease;
}

.order-service__btn:hover {
    background-color: #8B1414;
}

@media (max-width: 1199px) {
    .services {
        margin-top: 104px;
    }

    .services__ul {
        row-gap: 82px;
    }

    .services-list {
        width: calc(50% - 5px);
    }

    .services-list__label {
        font-size: 20px;
        padding: 10px 26px;
        top: 34px;
        left: 33px;
    }

    .services__img {
        margin-bottom: 13px;
    }

    .services-list:nth-of-type(3) .services__img,
    .services-list:nth-of-type(4) .services__img {
        margin-bottom: 13px;
    }

    .services-list__title {
        width: 290px;
        font-size: 25px;
        padding: 0px;
    }

    .services__ul > li:nth-child(3) .services-list__title,
    .services__ul > li:nth-child(4) .services-list__title {
        font-size: 30px;
    }

    .order-service__btn {
        width: 100%;
        margin-top: 80px;
        margin-bottom: 120px;
    }

}

@media (max-width: 768px) {
    .services {
        min-width: 375px;
        margin-top: 143px;
    }

    .services__title {
        font-size: 14px;
        padding: 77px 0px 18px 5px;
    }

    .services__ul {
        flex-direction: column;
        row-gap: 57px;
    }

    .services-list__label {
        font-size: 14px;
        padding: 8px 24px;
        top: 22px;
        left: 26px;
    }

    .services__img {
        margin-bottom: 0px;
    }

    .services__ul > li:nth-child(3) .services-list__title {
        padding-left: 4px;
    }

    .services-list:nth-of-type(3) .services__img,
    .services-list:nth-of-type(4) .services__img {
        margin-bottom: 1px;
    }

    .services-list__title {
        font-size: 18px;
    }

    .services__ul > li:nth-child(3) .services-list__title,
    .services__ul > li:nth-child(4) .services-list__title {
        font-size: 18px;
    }

    .order-service__btn {
        margin-top: 58px;
        margin-bottom: 80px;
        font-size: 22px;
        height: 100px;
        padding-top: 41px;
        padding-left: 3px;
    }
}
